<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Css/promo.css">
</head>
<body>
    <div class = 'wrapper'>
        <div class = 'title'> Bottle Offers</div>
        <div class = 'title'>Vodka</div>
        <div class = 'container' id = 'vodkaPromo'></div>
        <div class = 'title'>Gin</div>
        <div class = 'container' id = 'ginPromo'></div>
        <div class = 'title'>Wiskey</div>
        <div class = 'container' id = 'wiskeyPromo'></div>
        <div class = 'info'></div>
    </div>
    <script type="module" >
        import {Promo} from '../Js/promo.js';
        import {createElements} from '../Js/jsonFetcher.js';

        const vodka = new Promo('vodkaPromo');
        const gin = new Promo('ginPromo');
        const wiskey = new Promo('wiskeyPromo');
        createElements('../Data/vodkaPromoBottle.json', vodka);
        createElements('../Data/ginPromoBottle.json', gin);
        createElements('../Data/wiskeyPromoBottle.json', wiskey);
    </script>
</body>
</html>