<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exciting Shots Menu at The Shots</title>
    <link rel="stylesheet" href="../Css/home.css">
</head>

<body>

    <div class="bodyProxy">

        <div class="wrapper">
            <div class="upper">
                <button class="instagram">Instagram</button>
                <h3 class="RSRV"> RSRV 0888888888 </h3>
            </div>
            <div class="social">
                <div class="container">
                    <div class="slider">
                        <div class="slide"></div>
                        <div class="slide"></div>
                        <div class="slide"></div>
                        <div class="slide"></div>
                        <div class="slide"></div>
                    </div>
                    <div class="boxContainer">
                        <div class="toggle current"></div>
                        <div class="toggle"></div>
                        <div class="toggle"></div>
                        <div class="toggle"></div>
                        <div class="toggle"></div>
                    </div>
                    <button class="btn" id="next">></button>
                    <button class="btn" id="prev"><</button>
                </div>
                <div class = "videoContainer">
                    <video controls>
                        <source src=" " type="video/mp4">
                        <source src=" " type="video/ogg">
                    </video>
                </div>
                <div class="section">
                    <div class = "theshotsclub">
                        theshotsclub.com
                    </div>
                    <div class = "contacts">
                        <h3 color = "white">theshots69@gmail.com</h3>
                        <h2>Work Time</h2>
                    </div>
                    <div class = "dropDownContainer">
                        <div class="dropDown">
                            <div class="show" id="show">
                                <div class="text">open today</div>
                                <div class="date current">19:00pm - 01:00am</div>
                                <div class="date">19:00pm - 02:00am</div>
                                <div class="date">19:00pm - 03:00am</div>
                                <div class="date">19:00pm - 04:00am</div>
                                <div class="date">19:00pm - 05:00am</div>
                                <div class="date">19:00pm - 06:00am</div>
                                <div class="date">19:00pm - 07:00am</div>
                                <button class="drop" id="drop"></button>
                            </div>
                    
                            <div class="table" id="table">
                                <div class="day">Monday</div>
                                <div class="dayTime cur">19:00pm - 01:00am</div>
                                <div class="day">Tuesday</div>
                                <div class="dayTime">19:00pm - 02:00am</div>
                                <div class="day">Wednesday</div>
                                <div class="dayTime">19:00pm - 03:00am</div>
                                <div class="day">Thursday</div>
                                <div class="dayTime">19:00pm - 04:00am</div>
                                <div class="day">Friday</div>
                                <div class="dayTime">19:00pm - 05:00am</div>
                                <div class="day">Saturday</div>
                                <div class="dayTime">19:00pm - 06:00am</div>
                                <div class="day">Sunday</div>
                                <div class="dayTime">19:00pm - 07:00am</div>
                            </div>
                        </div>
                    
                        <!-- <script src="scr.js"></script> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="../Js/home.js"></script>
</body>

</html>